.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.app.fade {
  opacity: 0;
}

:root {
  --primary-purple: #8a2be2;
  --primary-green: #30b956;
  --primary-green-dark: #259544;
  --text-primary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
  background: #1a1a1a;
  overflow: hidden;
} 